* {
    color: white;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: -webkit-link;
}

#biga {
    text-decoration: none;
}

p {
    font-size: 15pt;
}

#status-dormant {
    color: gray;
}

#status-active {
    color: limegreen;
}