@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	font-family: "Roboto", sans-serif;
}

a:link {
    color: #0099FF;
}

a:hover {
    color: #46bfeb;
}

a:visited {
    color: #3f1194;
}

a:visited:hover {
    color: #804be1;
}

p {
    font-size: 15pt;
}

#coluh {
    border: solid 1px black;
    width: 50px;
    height: 50px;
}
