* {
    color: white;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}

a:link {
    color: #0099FF;
}

a:hover {
    color: #00BBFF;
}

a:visited {
    color: #4DDBB8;
}

a:visited:hover {
    color: #4DECB8;
}

p {
    font-size: 15pt;
}

#status-dormant {
    color: gray;
}

#status-active {
    color: limegreen;
}